 
 <div class="block"> 
 <div class="row">  
  <div class="col-sm-offset-1 col-sm-10"> 
	  
 <div align="center">
<h3>Technical Support</h3>
</div>
  <%= simple_form_for @message, url: support_path, html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }  do |f| %>
			
 <div class="row">  
 <div class="col-sm-11">
  <table class="table">
    <tbody>
     <tr>	     
  	  <th>
  		<br> 
    <%= f.input :name, :label=>"Name:", :placeholder=>"Your Name", :required => true %>
    <%= f.input :email,  :label=>"Email Address:",  :placeholder=>"Your Email Address", :required => true %>
    <%= f.input :body, :as => :text,  :placeholder=>"What can we help you with?",  :input_html => { :class => "enroll_input", :rows => 4}, :required => true %>
  
	 </th>
	</tr>
	</tbody>
	</table>
	
	
  
      </br>
	  <div align="center">
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
	   </br>
	    </br>
    </div>
  <% end %>

</div>
</div>


  

</div>
</div>

</div>
 